{% extends 'core/base.html' %}

{% block title %} Contact {% endblock title%}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock background %}

{% block headers %}
    <h1>Contact</h1>
    <span class="subheading">Consulting</span>
{% endblock headers %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>If you are looking for professional consulting or assistance with software development and technology solutions, feel free to reach out. I am here to help with tailored advice and technical expertise to meet your needs.</p>
    <br>
    <p><b>Phone:</b> (+57) 350 723 4475</p>
    <p><b>Email:</b> diegocabrera1193@gmail.com</p>
    <p><b>Fees:</b> $9/hour (base rate)</p>
  </div>
</div>
{% endblock content %}
